@font-face {
    font-family: 'Whortle';
    src: url('./assets/fonts/Whortle/Whortle.eot');
    src: local('Whortle'),
        url('./assets/fonts/Whortle/Whortle.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Whortle/Whortle.woff2') format('woff2'),
        url('./assets/fonts/Whortle/Whortle.woff') format('woff'),
        url('./assets/fonts/Whortle/Whortle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

